@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e17564;  /* Neue Farbe für Coral */
  --secondary: #123456;  /* Neue Farbe für Navy */
  --white: #f0f0f0;  /* Neue Farbe für Weiß */
}

/* Basis-Styles als Ergänzung zu Tailwind */
@layer base {
  body {
    @apply antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}